#main{
    display: flex;

}
#playing{
    width: 60%;
    border-style: solid;
    border-color: black;
    border-width: 3px 1.5px 3px 3px;
    height: 100vh;
}
#div1{
    height: 20%;
    border: 3px solid black;
}
#rolledDiv{
    height: 39%;
    border: 3px solid black;
}
#keptDiv{
    height: 39%;
    border: 3px solid black;
}
#scoring{
    width: 40%;
    border-style: solid;
    border-color: black;
    border-width: 3px 1.5px 3px 3px;
    height: 100vh;
    padding: 0px 5px;
}
#diceFace{
    width: 150px;
    height: 150px;
}
#scoreDice{
    width: 15px;
    height: 15px;
}
#arrow{
    height: 20px;
    width: 70px;
}
h1{
    text-align: center;
}
table{
    text-align: center;
    font-size: 12px;
    border: 1px solid black;
    width: 100%;
}
th, td{
    border: 1px solid black;
}
body{
    margin: 0px;
}